/* FOOTER */
.footerDefault {
  background-color: #fefefe;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.footer {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3rem 3.5rem;
  border-top: 1px solid #cbcbcb;
  flex-wrap: wrap;
  align-items: center;
}

/* LOGOTIPO */
.companyLogoIcon {
  height: 50px;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* NOME DA MARCA */
.companyName {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: var(--font-ibm-plex-mono);
}

/* COPYRIGHT */
.copyright {
  display: flex;
  font-size: 1rem;
  color: #3c3c3c;
}

/* LINKS */
.navigationLinks {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem; /* Ajusta o espaçamento entre as seções */
}

/* TÍTULOS DAS SEÇÕES */
.infos h3 {
  font-size: 1rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 0.5rem;
  font-family: var(--font-inter);
  cursor: pointer;
}

/* LISTA DE LINKS */
.infos ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
}

.link {
  font-size: 0.875rem;
  color: #333;
  transition: color 0.2s;
}

.link:hover {
  text-decoration: underline;
  color: #0b5e37;
}

.arrow {
  font-size: 0.875rem;
  display: none;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem 1rem;
  }

  .logoContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }

  .companyName {
    display: none;
  }

  .infos h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .navigationLinks {
    width: 100%;
    flex-direction: column;
    gap: 1rem;
  }

  .copyright {
    width: 100%;
    justify-content: center;
  }

  /* Mostrar setas somente em dispositivos móveis */
  .infos h3 .arrow {
    display: inline;
  }
  
  /* Esconder listas inicialmente em dispositivos móveis */
  .infos ul {
    display: none;
  }
  
  /* Mostrar lista quando a seção está aberta em dispositivos móveis */
  .infos.open ul {
    display: block;
  }
}
